@import '../utils.scss';

.pointWrapper {
    display: grid;
    justify-content: center;
    justify-items: center;

    .point-page-title {
        font-size: 35px;
        font-weight: 600;

        color: black;

        margin: 20px 0;
    }

    img {
        width: 100%;
    }

    .point-page-grid {
        @include max-width();
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        justify-items: center;
        align-items: center;

        margin: 30px 0;

        .point-page-content {
            .point-page-content1 {
                font-size: 18px;
            }
            .point-page-content2 {
                font-size: 35px;
                font-weight: 600;
            }
            .point-page-content3 {
                margin: 20px 0;
                font-size: 17px;
                color: #5d73f3;
            }
        }

        .point-page-btn {
            button {
                background: #5d73f3;
                width: 450px;
                height: 55px;

                border: 1px solid #5d73f3;
                border-radius: 25px;

                color: white;
                font-size: 18px;
            }
        }
    }
}
