@import '../../../styles/utils.scss';

.owner-card-template {
    padding: 10px 20px;

    display: flex;
    align-items: center;
    background: white;

    .f1 {
        flex: 2;
        img {
            width: 55px;
            height: 55px;
            border: 2px solid $main-color;
            border-radius: 30px;
            object-fit: cover;
        }
    }
    .f2 {
        padding-left: 10px;
        flex: 7;

        color: $main-color;
        .username {
            font-weight: 600;
            font-size: 14px;
        }
        .career {
            font-size: 13px;
        }
        .description {
            font-size: 11px;
        }
    }
    .f3 {
        flex: 1;
        img {
            width: 100%;
        }
    }
}
