@import '../../../styles/utils.scss';

.BestTipsWrapper {
    .best-tips-title {
        margin: 0 0 40px 0;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.4px;
        text-align: center;
        color: #000000;
    }

    .select-tips-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        width: 100%;
        margin: 0 0 30px 0;
    }

    .best-tips-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        width: 100%;
    }
}
