@import '../../../styles/utils.scss';

.TeacherInfoWrapper {
    color: white;
    padding: 10px 0;

    .teacher-info-title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background: #222222;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 0 10px;
        height: 40px;

        font-size: 16px;
        font-weight: bold;
    }

    .teacher-info-wrapper2 {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 10px;
        height: 80px;

        .teacher-info {
            padding: 10px 20px;
            background: #222222;
            border-radius: 5px;

            &.price {
                background: #2e2e2e;
                text-align: center;
                line-height: 60px;
                font-size: 14px;
                font-weight: bold;
            }

            &.discription {
                .teacher-discription {
                    font-size: 12px;
                    margin: 0 0 8px 0;
                    height: 34px;
                    overflow: hidden;
                }
                .teacher-category {
                    font-size: 12px;
                    font-weight: 500;
                    color: #595959;
                }
            }
        }
    }

    .teacher-info-wrapper3 {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        height: 180px;

        .teacher-info {
            padding: 10px 20px;
            background: #222222;
            border-radius: 5px;

            #item-title {
                font-size: 14px;
                font-weight: 500;
                margin: 0 0 10px 0;
            }

            #teacher-info-scrollbars {
                height: 130px;

                &.teacher-info-data {
                    height: 80px;
                    margin-bottom: 10px;
                }

                #scrollbars-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-right: 15px;
                    margin-bottom: 5px;
                    font-size: 12px;
                }
            }

            &.part {
                padding: 10px 5px 10px 20px;
            }

            &.data {
                .class-data-download {
                    width: 100%;
                    height: 40px;
                    border: none;
                    border-radius: 5px;

                    background: #2d2d2d;
                    color: #545454;
                }
            }
        }
    }
}
